@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  margin: 0;
  padding: 0;
  background: #f8f9e3;
  height: 100vh;
  overflow: hidden;
}
.center{
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
  padding-bottom: 50px;
}
.center h1{
  text-align: center;
  padding: 80px 0 10px;
}
.center form{
  padding: 0 40px;
  box-sizing: border-box;
}
.info{
    padding: 40px 0 50px
}
.middle{
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
    padding-bottom: 50px;
}
.middle h1{
    text-align: center;
    padding: 80px 0 10px;
}
.middle form{
    padding: 0 40px;
    box-sizing: border-box;
}
.camera{
    position: absolute;
    top: 50%;
    right: 28%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
    padding-bottom: 50px;
}
.camera h1{
    text-align: center;
    padding: 50px 0 50px;
}
.camera form{
    padding: 0 40px;
    box-sizing: border-box;
}
form .txt_field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #2691d9;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}
.pass{
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}
.pass:hover{
  text-decoration: underline;
}
input[type="submit"]{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #e4e3f9;
  border-radius: 25px;
  font-size: 18px;
  color: #9E9E97;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
.circle{
  position: relative;
  display: block;
  margin: 2em 0;
  background-color: transparent;
  color: #222;
  text-align: center;
}
.circle:after{
    display: block;
    padding-bottom: 10%;
    width: 10%;
    height: 0;
    border-radius: 50%;
    background-color: #ddd;
    content: "";
  }
  
/*-----Navigation Bar CSS Beginning -----*/
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  
  /*-----Navigation Bar CSS Ending -----*/