@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  margin: 0;
  padding: 0;
  background: linear-gradient(120deg,#4727ee, #01ee9d);
  height: 100vh;
  overflow: hidden;
}
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}
.center h1{
  text-align: center;
  padding:20px 0 10px 0px;
  border-bottom: 1px solid silver;
}
.center p{
  padding: 15px 40px;
  box-sizing: border-box;
  text-align: center;
}

/*
[] Format for the Navigation Bar []
To use, paste the CSS code below into the appropriate CSS file and
in the html file, paste the following into the body:

    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#services">Services</a></li>
      <li><a href="#research">Research</a></li>
      <li><a class ="active" href="#contact.html">Contact</a></li>
      <li><a herf="index.php">Sign In</a></li>
    </ul>

Make sure to adjust the active tab accordingly for each page!
*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

/*-----Navigation Bar CSS Ending -----*/