@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background: #f8f9e3;
    height: 100vh;
    overflow: hidden;
  }
.upload{
    position: absolute;
    top: 50%;
    right: 20%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
    padding-bottom: 50px;
  }
.upload h1{
    text-align: center;
    padding: 50px 0 10px;
}
input[type=file] {
    border: none;
    padding: 50px 50px 50px 100px;
}
label {
    padding: 50px 50px 50px 100px;
}
p{
    top: 50%;
    right: 20%;
    line-height: 32px;  
    margin-bottom: 30px;
}
.div {
    width:960px;
    text-align:center;
}